<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/homeButton :: homeButton"/>
    <form th:action="@{/lessons/new}" th:object="${lessonForm}" method="post">
        <div class="form-group">
            <label th:for="name">수업명</label>
            <input type="text" th:field="*{name}" class="form-control"
                   placeholder="이름을 입력하세요"></div>
        <div class="form-group">
            <label th:for="quota">수업 인원</label>
            <input type="number" th:field="*{quota}" class="form-control"
                   placeholder="인원을 입력하세요"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>